<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Simple HTML Template</title>
</head>
    <body>
        <div class="div1">
            <h1>
                App de Management
            </h1>
            <div class="div_splitter">
                <div class="div_options">
                    <div class="button_container">
                        <button class="button_options" >
                            <img src="Icons/add.png",alt="AddIcon">
                        </button>
                        <button class="button_options">
                            <img src="Icons/editing.png",alt="UpdateIcon">
                        </button>
                        <button class="button_options">
                            <img src="Icons/magnifier.png",alt="SearchIcon">
                        </button>
                    </div>
                </div>
                <div class="div_insert"></div>
                <div class="div_display"></div>
            </div>
        </div>
    </body>
</html>
